
* {
    background-color: aliceblue;
}


.navbar {
    background-color: black !important; /* Important to override Bootstrap styles */
}
.image {
    margin-top: 50px;
    margin-left: 320px;
    width: 900px; /* Set the desired width for the container */
    height: 800px; /* Set the desired height for the container */
    background-image: url('home.jpeg'); /* Replace with the path to your image */
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    background-color: #333;
    color: #0a0000;
    text-align: center;
    padding: 10px 0;
}