/* Reset some default browser styles */
body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

header h1 {
    font-size: 24px;
    margin-left: 20px; /* Add space on the left of the header text */
}

header a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px; /* Add space on the right of the "Login" link */
}

nav {
    background-color: #333;
}

nav ul {
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #007bff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Navbar styles for small screens (mobile) */
@media screen and (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 0;
        padding: 10px 0;
    }
}
