/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #f0f0f0; /* Light gray background */
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Style the container */
.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff; /* White container background */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Style the page header */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff; /* Blue header text */
}

/* Style the form */
form {
    background-color: #f9f9f9; /* Light gray form background */
    padding: 50px;
    margin: 30px 350px 20px 350px;
    border-radius: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: #33cc33; /* Green submit button */
    margin-top: 30px;
    margin-left: 230px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #009900; /* Darker green on hover */
}

/* Style the chart container */
#chartContainer {
    text-align: center;
    margin-top: 20px;
}

/* Style the calories information */
#caloriesInfo {
    background-color: #f9f9f9; /* Light gray info background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007bff; /* Blue header text */
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333; /* Dark gray text */
}
