/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the body for background and font */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Apply styles to the header */
header {
    background-color: #010912;
    padding: 10px;
}

header li {
    display: inline;
    
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

/* Apply styles to the container */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the header inside the container */
.container h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Style the form elements */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the "Logout" link */
p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

header .update-profile-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .update-profile-button:hover {
    background-color: #0056b3;
}