/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the body for background and font */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('workall.jpg'); /* Add your image URL here */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* Apply styles to the header */
header {
    background-color: #010912;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Apply styles to the main content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Style the workout description section */
.workout-description {
    margin-bottom: 20px;
}

.workout-description h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.workout-description ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.workout-description li {
    margin-bottom: 5px;
}

/* Style the image */
img {
    display: block;
    margin: 0 auto;
}

/* Style the toggle button */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
}

/* Style the additional details section */
#workout-description {
    display: none;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#workout-description h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#workout-description ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#workout-description li {
    margin-bottom: 5px;
}
