<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forgotPassword.css') }}"> 
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h2>Forgot Password</h2>
    <form method="POST" action="/forgotPassword">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br><br>

        <label for="focusArea">Select Security Question:</label>
        <select name="securityQuestion" required>
            <option value="What is the name of your favorite childhood friend?">What is the name of your favorite childhood friend?</option>
            <option value="What was the name of your primary school?">What was the name of your primary school?</option>
            <option value="What is your pet's name?">What is your pet's name?</option>
            <option value="What is your favorite sport?">What is your favorite sport?</option>
        </select>
        <br><br>

        <label for="security_answer">Security Question Answer:</label>
        <input type="text" name="security_answer" required>
        <br><br>

        <label for="password">New Password:</label>
        <input type="password" id="password" name="new_password" required><br><br>

        <button type="submit">Reset Password</button>
    </form>
    <br>
    {% if error %}
    <div class="error-message">
    {{ error }}
    </div>
    {% endif %}
    </div>
    
</body>
</html>