<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nutrition.css') }}">
</head>
<body>
    <header>
        <h1>Nutrition</h1>
        <a href="{{ url_for('dashboard') }}"style="color:white;margin-right: 10px; font-weight: bold;font-size: 16px;"> Dashboard</a> <!-- Link back to the dashboard or home page -->
    </header>

    <main>
        <section id="nutrition-plan">
            <h2>Calorie Chart</h2>
            <!-- Include content related to the user's nutrition plan here -->
            <table>
                <tbody>
                <tr>
                <td>
                <h2><strong>Food Groups</strong></h2>
                </td>
                <td>Weight/Volume (g/ml)</td>
                <td>Energy (Kcals)</td>
                </tr>
                <tr>
                <td>
                <h3><strong>A. Cereals and Millets</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Rice (Brown)</td>
                <td>100</td>
                <td>353.7</td>
                </tr>
                <tr>
                <td>Rice Parboiled</td>
                <td>100</td>
                <td>351.5</td>
                </tr>
                <tr>
                <td>Rice Raw milled</td>
                <td>100</td>
                <td>356.3</td>
                </tr>
                <tr>
                <td>Wheat whole</td>
                <td>100</td>
                <td>321.9</td>
                </tr>
                <tr>
                <td>Wheat flour</td>
                <td>100</td>
                <td>320.2</td>
                </tr>
                <tr>
                <td>Bulgar wheat</td>
                <td>100</td>
                <td>341.7</td>
                </tr>
                <tr>
                <td>Refined flour</td>
                <td>100</td>
                <td>351.8</td>
                </tr>
                <tr>
                <td>Ragi</td>
                <td>100</td>
                <td>320.7</td>
                </tr>
                <tr>
                <td>Rice flakes</td>
                <td>100</td>
                <td>353.7</td>
                </tr>
                <tr>
                <td>Wheat semolina</td>
                <td>100</td>
                <td>333.6</td>
                </tr>
                <tr>
                <td>Wheat vermicelli</td>
                <td>100</td>
                <td>332.6</td>
                </tr>
                <tr>
                <td>Barley</td>
                <td>100</td>
                <td>315.7</td>
                </tr>
                <tr>
                <td>Bajra</td>
                <td>100</td>
                <td>347.9</td>
                </tr>
                <tr>
                <td>Jowar</td>
                <td>100</td>
                <td>334.1</td>
                </tr>
                <tr>
                <td>Quinoa</td>
                <td>100</td>
                <td>328.3</td>
                </tr>
                <tr>
                <td>Amaranth seed, Black</td>
                <td>100</td>
                <td>356.1</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>B. Grain legumes</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Bengal gram, dal</td>
                <td>100</td>
                <td>329.1</td>
                </tr>
                <tr>
                <td>Bengal gram, whole</td>
                <td>100</td>
                <td>287</td>
                </tr>
                <tr>
                <td>Black gram whole</td>
                <td>100</td>
                <td>291.3</td>
                </tr>
                <tr>
                <td>Cow pea, brown</td>
                <td>100</td>
                <td>320.2</td>
                </tr>
                <tr>
                <td>Cow pea, white</td>
                <td>100</td>
                <td>320.2</td>
                </tr>
                <tr>
                <td>Green gram dal</td>
                <td>100</td>
                <td>325.7</td>
                </tr>
                <tr>
                <td>Green gram, whole</td>
                <td>100</td>
                <td>293.7</td>
                </tr>
                <tr>
                <td>Horse gram, whole</td>
                <td>100</td>
                <td>329.5</td>
                </tr>
                <tr>
                <td>Lentil dal</td>
                <td>100</td>
                <td>322.4</td>
                </tr>
                <tr>
                <td>Peas, dry</td>
                <td>100</td>
                <td>303.2</td>
                </tr>
                <tr>
                <td>Rajma, red</td>
                <td>100</td>
                <td>299.2</td>
                </tr>
                <tr>
                <td>Red gram, dal</td>
                <td>100</td>
                <td>330.7</td>
                </tr>
                <tr>
                <td>Red gram, whole</td>
                <td>100</td>
                <td>273.9</td>
                </tr>
                <tr>
                <td>Soya bean, brown</td>
                <td>100</td>
                <td>381.4</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>C. Green leafy vegetables</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Amaranth leaves</td>
                <td>100</td>
                <td>30.5</td>
                </tr>
                <tr>
                <td>Beet greens</td>
                <td>100</td>
                <td>34.6</td>
                </tr>
                <tr>
                <td>Brussels sprouts</td>
                <td>100</td>
                <td>44.2</td>
                </tr>
                <tr>
                <td>Cabbage Chinese</td>
                <td>100</td>
                <td>17.9</td>
                </tr>
                <tr>
                <td>Cabbage, green</td>
                <td>100</td>
                <td>21.5</td>
                </tr>
                <tr>
                <td>Cauliflower leaves</td>
                <td>100</td>
                <td>35.4</td>
                </tr>
                <tr>
                <td>Colocasia leaves, green</td>
                <td>100</td>
                <td>43.4</td>
                </tr>
                <tr>
                <td>Drumstick leaves</td>
                <td>100</td>
                <td>67.3</td>
                </tr>
                <tr>
                <td>Fenugreek leaves</td>
                <td>100</td>
                <td>34.4</td>
                </tr>
                <tr>
                <td>Lettuce</td>
                <td>100</td>
                <td>21.7</td>
                </tr>
                <tr>
                <td>Mustard leaves</td>
                <td>100</td>
                <td>30.3</td>
                </tr>
                <tr>
                <td>Parsley</td>
                <td>100</td>
                <td>72.8</td>
                </tr>
                <tr>
                <td>Radish leaves</td>
                <td>100</td>
                <td>26.05</td>
                </tr>
                <tr>
                <td>Spinach</td>
                <td>100</td>
                <td>24.3</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>D. Other Vegetables</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Ash gourd</td>
                <td>100</td>
                <td>17.4</td>
                </tr>
                <tr>
                <td>Bamboo shoot, tender</td>
                <td>100</td>
                <td>16.2</td>
                </tr>
                <tr>
                <td>Bitter gourd</td>
                <td>100</td>
                <td>20.7</td>
                </tr>
                <tr>
                <td>Bottle gourd</td>
                <td>100</td>
                <td>10.9</td>
                </tr>
                <tr>
                <td>Brinjal</td>
                <td>100</td>
                <td>25.3</td>
                </tr>
                <tr>
                <td>Broad beans</td>
                <td>100</td>
                <td>29.3</td>
                </tr>
                <tr>
                <td>Capsicum</td>
                <td>100</td>
                <td>16.2</td>
                </tr>
                <tr>
                <td>Cauliflower</td>
                <td>100</td>
                <td>22.9</td>
                </tr>
                <tr>
                <td>Celery stalk</td>
                <td>100</td>
                <td>16.4</td>
                </tr>
                <tr>
                <td>Cho-Cho-Marrow</td>
                <td>100</td>
                <td>18.8</td>
                </tr>
                <tr>
                <td>Cluster beans</td>
                <td>100</td>
                <td>40.1</td>
                </tr>
                <tr>
                <td>Cucumber</td>
                <td>100</td>
                <td>19.5</td>
                </tr>
                <tr>
                <td>French beans</td>
                <td>100</td>
                <td>24.3</td>
                </tr>
                <tr>
                <td>Knol-Khol</td>
                <td>100</td>
                <td>16</td>
                </tr>
                <tr>
                <td>Kovai</td>
                <td>100</td>
                <td>19.1</td>
                </tr>
                <tr>
                <td>Ladies finger</td>
                <td>100</td>
                <td>27.4</td>
                </tr>
                <tr>
                <td>Parwar</td>
                <td>100</td>
                <td>24.1</td>
                </tr>
                <tr>
                <td>Peas,fresh</td>
                <td>100</td>
                <td>81.2</td>
                </tr>
                <tr>
                <td>Plantain stem</td>
                <td>100</td>
                <td>39.4</td>
                </tr>
                <tr>
                <td>Pumpkin</td>
                <td>100</td>
                <td>23.1</td>
                </tr>
                <tr>
                <td>Ridge gourd</td>
                <td>100</td>
                <td>13.1</td>
                </tr>
                <tr>
                <td>Snake gourd</td>
                <td>100</td>
                <td>12.4</td>
                </tr>
                <tr>
                <td>Tomato</td>
                <td>100</td>
                <td>20.7</td>
                </tr>
                <tr>
                <td>Zucchini, green</td>
                <td>100</td>
                <td>20</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>E. Roots and Tubers</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Beetroot</td>
                <td>100</td>
                <td>35.6</td>
                </tr>
                <tr>
                <td>Carrot</td>
                <td>100</td>
                <td>33.2</td>
                </tr>
                <tr>
                <td>Potato brown</td>
                <td>100</td>
                <td>69.7</td>
                </tr>
                <tr>
                <td>Radish,white</td>
                <td>100</td>
                <td>32.2</td>
                </tr>
                <tr>
                <td>Sweet potato,brown</td>
                <td>100</td>
                <td>108.9</td>
                </tr>
                <tr>
                <td>Tapioca</td>
                <td>100</td>
                <td>79.8</td>
                </tr>
                <tr>
                <td>Yam</td>
                <td>100</td>
                <td>84.3</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>F. Fruits</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Apple</td>
                <td>100</td>
                <td>62.3</td>
                </tr>
                <tr>
                <td>Apricot, dried</td>
                <td>100</td>
                <td>31.5</td>
                </tr>
                <tr>
                <td>Avocado</td>
                <td>100</td>
                <td>144.3</td>
                </tr>
                <tr>
                <td>Banana</td>
                <td>100</td>
                <td>110.6</td>
                </tr>
                <tr>
                <td>Blackberry fruit</td>
                <td>100</td>
                <td>54.2</td>
                </tr>
                <tr>
                <td>Cherries red</td>
                <td>100</td>
                <td>59.7</td>
                </tr>
                <tr>
                <td>Blackcurrants</td>
                <td>100</td>
                <td>54.2</td>
                </tr>
                <tr>
                <td>Custard apple</td>
                <td>100</td>
                <td>98.9</td>
                </tr>
                <tr>
                <td>Dates, dry</td>
                <td>100</td>
                <td>320.2</td>
                </tr>
                <tr>
                <td>Fig</td>
                <td>100</td>
                <td>81.5</td>
                </tr>
                <tr>
                <td>Grapes</td>
                <td>100</td>
                <td>60.7</td>
                </tr>
                <tr>
                <td>Guava</td>
                <td>100</td>
                <td>32.2</td>
                </tr>
                <tr>
                <td>Jack fruit</td>
                <td>100</td>
                <td>72.1</td>
                </tr>
                <tr>
                <td>Sweet lime</td>
                <td>100</td>
                <td>27.2</td>
                </tr>
                <tr>
                <td>Litchi</td>
                <td>100</td>
                <td>53.7</td>
                </tr>
                <tr>
                <td>Mango</td>
                <td>100</td>
                <td>41.8</td>
                </tr>
                <tr>
                <td>Musk melon</td>
                <td>100</td>
                <td>23.1</td>
                </tr>
                <tr>
                <td>Orange</td>
                <td>100</td>
                <td>37.2</td>
                </tr>
                <tr>
                <td>Papaya</td>
                <td>100</td>
                <td>23.9</td>
                </tr>
                <tr>
                <td>Peach</td>
                <td>100</td>
                <td>40.1</td>
                </tr>
                <tr>
                <td>Pear</td>
                <td>100</td>
                <td>37.5</td>
                </tr>
                <tr>
                <td>Pineapple</td>
                <td>100</td>
                <td>43</td>
                </tr>
                <tr>
                <td>Plum</td>
                <td>100</td>
                <td>56.8</td>
                </tr>
                <tr>
                <td>Pomegranate</td>
                <td>100</td>
                <td>54.7</td>
                </tr>
                <tr>
                <td>Raisins, black</td>
                <td>100</td>
                <td>305.6</td>
                </tr>
                <tr>
                <td>Sapota</td>
                <td>100</td>
                <td>73.3</td>
                </tr>
                <tr>
                <td>Strawberry</td>
                <td>100</td>
                <td>24.6</td>
                </tr>
                <tr>
                <td>Watermelon</td>
                <td>100</td>
                <td>20.3</td>
                </tr>
                <tr>
                <td>Wood apple</td>
                <td>100</td>
                <td>78.1</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>G. Condiments and Spices</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Green chillies</td>
                <td>100</td>
                <td>45.6</td>
                </tr>
                <tr>
                <td>Coriander seeds</td>
                <td>100</td>
                <td>268.8</td>
                </tr>
                <tr>
                <td>Curry leaves</td>
                <td>100</td>
                <td>63.5</td>
                </tr>
                <tr>
                <td>Garlic</td>
                <td>100</td>
                <td>123.8</td>
                </tr>
                <tr>
                <td>Ginger, fresh</td>
                <td>100</td>
                <td>54.9</td>
                </tr>
                <tr>
                <td>Mint leaves</td>
                <td>100</td>
                <td>37</td>
                </tr>
                <tr>
                <td>Onion</td>
                <td>100</td>
                <td>48</td>
                </tr>
                <tr>
                <td>Asafoetida</td>
                <td>100</td>
                <td>331.5</td>
                </tr>
                <tr>
                <td>Cardamom, green</td>
                <td>100</td>
                <td>255</td>
                </tr>
                <tr>
                <td>Red chillies</td>
                <td>100</td>
                <td>236.6</td>
                </tr>
                <tr>
                <td>Cloves</td>
                <td>100</td>
                <td>186.6</td>
                </tr>
                <tr>
                <td>Cumin seeds</td>
                <td>100</td>
                <td>304.4</td>
                </tr>
                <tr>
                <td>Black cumin (Kalonji)</td>
                <td>100</td>
                <td>345</td>
                </tr>
                <tr>
                <td>Fenugreek seeds</td>
                <td>100</td>
                <td>234.9</td>
                </tr>
                <tr>
                <td>Nutmeg</td>
                <td>100</td>
                <td>463.6</td>
                </tr>
                <tr>
                <td>Basil seeds</td>
                <td>100</td>
                <td>22</td>
                </tr>
                <tr>
                <td>Anise seeds</td>
                <td>100</td>
                <td>153.3</td>
                </tr>
                <tr>
                <td>Pepper, black</td>
                <td>100</td>
                <td>217.4</td>
                </tr>
                <tr>
                <td>Poppy seeds</td>
                <td>100</td>
                <td>422.5</td>
                </tr>
                <tr>
                <td>Turmeric powder</td>
                <td>100</td>
                <td>280.5</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>H. Nuts and Oil seeds</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Almond</td>
                <td>100</td>
                <td>609.2</td>
                </tr>
                <tr>
                <td>Arecanut dried</td>
                <td>100</td>
                <td>350.6</td>
                </tr>
                <tr>
                <td>Cashew nut</td>
                <td>100</td>
                <td>582.6</td>
                </tr>
                <tr>
                <td>Coconut dry</td>
                <td>100</td>
                <td>624</td>
                </tr>
                <tr>
                <td>Coconut fresh</td>
                <td>100</td>
                <td>408.9</td>
                </tr>
                <tr>
                <td>Gingelly seeds</td>
                <td>100</td>
                <td>507.6</td>
                </tr>
                <tr>
                <td>Ground nut</td>
                <td>100</td>
                <td>520</td>
                </tr>
                <tr>
                <td>Linseeds</td>
                <td>100</td>
                <td>443.8</td>
                </tr>
                <tr>
                <td>Pine seed</td>
                <td>100</td>
                <td>594.1</td>
                </tr>
                <tr>
                <td>Pistachio nuts</td>
                <td>100</td>
                <td>539.4</td>
                </tr>
                <tr>
                <td>Sunflower seeds</td>
                <td>100</td>
                <td>586.2</td>
                </tr>
                <tr>
                <td>Walnut</td>
                <td>100</td>
                <td>671</td>
                </tr>
                <tr>
                <td>Flax seeds</td>
                <td>100</td>
                <td>534</td>
                </tr>
                <tr>
                <td>Chia seeds</td>
                <td>100</td>
                <td>486</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>I. Sugars</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Jaggery cane</td>
                <td>100</td>
                <td>353.7</td>
                </tr>
                <tr>
                <td>Sugarcane, juice</td>
                <td>100</td>
                <td>57.8</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>J. Milk and Milk Products</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Milk, whole, buffalo</td>
                <td>100</td>
                <td>107.3</td>
                </tr>
                <tr>
                <td>Milk, whole, cow</td>
                <td>100</td>
                <td>72.8</td>
                </tr>
                <tr>
                <td>Paneer</td>
                <td>100</td>
                <td>257.8</td>
                </tr>
                <tr>
                <td>Khoa</td>
                <td>100</td>
                <td>315.9</td>
                </tr>
                <tr>
                <td>Soy milk</td>
                <td>100</td>
                <td>54</td>
                </tr>
                <tr>
                <td>Tofu</td>
                <td>100</td>
                <td>76</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>K. Egg, Poultry and Animal Meat </strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Egg, whole, raw</td>
                <td>100</td>
                <td>134.7</td>
                </tr>
                <tr>
                <td>Egg white, raw</td>
                <td>100</td>
                <td>44.6</td>
                </tr>
                <tr>
                <td>Egg, yolk, raw</td>
                <td>100</td>
                <td>296.8</td>
                </tr>
                <tr>
                <td>Chicken, leg, skinless</td>
                <td>100</td>
                <td>383.6</td>
                </tr>
                <tr>
                <td>Chicken, thigh, skinless</td>
                <td>100</td>
                <td>199.8</td>
                </tr>
                <tr>
                <td>Chicken, breast, skinless</td>
                <td>100</td>
                <td>168.2</td>
                </tr>
                <tr>
                <td>Chicken, liver</td>
                <td>100</td>
                <td>123.8</td>
                </tr>
                <tr>
                <td>Goat</td>
                <td>100</td>
                <td>188</td>
                </tr>
                <tr>
                <td>Sheep, shoulder</td>
                <td>100</td>
                <td>200.7</td>
                </tr>
                <tr>
                <td>Sheep, chops</td>
                <td>100</td>
                <td>118.5</td>
                </tr>
                <tr>
                <td>Beef, chops</td>
                <td>100</td>
                <td>139.8</td>
                </tr>
                <tr>
                <td>Pork, shoulder</td>
                <td>100</td>
                <td>237.3</td>
                </tr>
                <tr>
                <td>Pork, chops</td>
                <td>100</td>
                <td>178.7</td>
                </tr>
                <tr>
                <td>
                <h4><strong>Fish and seafood</strong></h4>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Cat fish</td>
                <td>100</td>
                <td>108.9</td>
                </tr>
                <tr>
                <td>Mackerel</td>
                <td>100</td>
                <td>101</td>
                </tr>
                <tr>
                <td>Matha</td>
                <td>100</td>
                <td>92.9</td>
                </tr>
                <tr>
                <td>Pomfret</td>
                <td>100</td>
                <td>123</td>
                </tr>
                <tr>
                <td>Salmon</td>
                <td>100</td>
                <td>172.3</td>
                </tr>
                <tr>
                <td>Sardine</td>
                <td>100</td>
                <td>152.2</td>
                </tr>
                <tr>
                <td>Shark</td>
                <td>100</td>
                <td>95.1</td>
                </tr>
                <tr>
                <td>Silver fish</td>
                <td>100</td>
                <td>132.6</td>
                </tr>
                <tr>
                <td>Catla</td>
                <td>100</td>
                <td>94.1</td>
                </tr>
                <tr>
                <td>Tuna</td>
                <td>100</td>
                <td>112.3</td>
                </tr>
                <tr>
                <td>Crab</td>
                <td>100</td>
                <td>81.9</td>
                </tr>
                <tr>
                <td>Lobster</td>
                <td>100</td>
                <td>89.6</td>
                </tr>
                <tr>
                <td>Oyster</td>
                <td>100</td>
                <td>60.2</td>
                </tr>
                <tr>
                <td>Tiger prawns</td>
                <td>100</td>
                <td>65.2</td>
                </tr>
                <tr>
                <td>Clam</td>
                <td>100</td>
                <td>58</td>
                </tr>
                <tr>
                <td>Squid</td>
                <td>100</td>
                <td>80</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>L. Fats and Oils</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Ghee</td>
                <td>100</td>
                <td>920</td>
                </tr>
                <tr>
                <td>Butter</td>
                <td>100</td>
                <td>717</td>
                </tr>
                <tr>
                <td>Oil</td>
                <td>100</td>
                <td>900</td>
                </tr>
                <tr>
                <td>Cheese</td>
                <td>100</td>
                <td>264.5</td>
                </tr>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>
                <h3><strong>M. Miscellaneous foods</strong></h3>
                </td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td>Coconut water</td>
                <td>100</td>
                <td>15.2</td>
                </tr>
                </tbody>
                </table>
        </section>
    </main>

    <footer>
        <!-- Add footer content, copyright information, etc. -->
    </footer>
</body>
</html>
